.page-header
  %h1=t '.title', :default => resource_class.model_name.human.pluralize.titleize
%table.table.table-striped
  %thead
    %tr
      %th= resource_class.human_attribute_name(:name)
  %tbody
    - @teams.each do |team|
      %tr
        %td= link_to team.name, team_path(team)

= link_to t('.new', :default => t("helpers.links.new")), new_team_path, :class => 'btn btn-primary'
