= simple_form_for @member, :html => { :class => 'form-horizontal' } do |f|
  = f.association :user, include_blank: false
  = f.association :team, as: :hidden
  = f.button :submit, :class => 'btn-primary'
