= title  @movement.origin.name, subtitle: breadcrumb(item_breadcrumbs(@movement.origin), leaf: "Move"), icon: @movement.origin.icon

.field.has-addons
  .control
    = link_to "Edit", edit_movement_path(@movement), class: "button"
  .control
    = link_to "Print", url_for(format: :pdf), class: "button"

.label-preview
  %img.label-preview--embed{src: url_for(format: :png)}

.my-4
  =resource_field :created_at do
    =local_time @movement.created_at
  =resource_field :updated_at do
    =local_time @movement.updated_at
  =resource_field :created_by do
    =@movement.user.name
  =resource_field :origin do
    =link_to @movement.origin.name, @movement.origin
  =resource_field :destination do
    =link_to @movement.destination.name, @movement.destination

.buttons
  = link_to "Delete", movement_path(@movement), class: "button is-text", method: :delete, data: { confirm: "Are you sure?" }
