=title resource.text, subtitle: item_breadcrumb(@label.item, leaf: "Label"), icon: resource.icon

.field.has-addons
  .control
    = link_to "Print", url_for(format: :pdf), class: "button"

.tabs
  %ul
    %li.is-active
      =link_to "Standard", label_standard_path(@label), "data-turbolinks-action": "replace"
    %li
      =link_to "Jumbo", label_jumbo_path(@label), "data-turbolinks-action": "replace"
    %li
      =link_to "Handwritten", label_code_path(@label), "data-turbolinks-action": "replace"

.label-preview
  %img.label-preview--embed{src: url_for(format: :png)}
