=title "#{resource.text} label", subtitle: breadcrumb(label_breadcrumbs), icon: resource.icon

.field.has-addons
  .control
    = link_to "Edit", edit_label_path(@label), class: "button"
  .control

.label-preview
  %img.label-preview--embed{src: url_for(format: :png)}

.buttons.mt-4
  = link_to "Delete label", label_path(@label), method: :delete, class: 'button is-text'
