= title "Change icon", subtitle: breadcrumb(item_breadcrumbs), icon: item_edit_icon(@item)

= application_form resource do |f|
  = f.input :icon_key, label: "Icon", collection: SvgIconFile.all, as: :image_radio_buttons, label: false
  = f.button :submit, class: 'is-primary'
