= simple_form_for @phone_number_claim, :html => { :class => 'form-horizontal' } do |f|
  = f.input :phone_number, autofocus: true
  = f.button :submit, :class => 'btn-primary'
  = link_to t('.cancel', :default => t("helpers.links.cancel")), :back, :class => 'btn btn-default'
