<section class="hero is-medium">
  <div class="hero-body">
    <div class="container">
      <%= title "Waiting for approval", subtitle: "We emailed the account owner your request", icon: "champagne-bottle" %>
      <p>Once the account owner approves your request, we'll send you an email with instructions on how to access the list. Until then, hang tight.</p>
    </div>
  </div>
</section>