<%= title "Start a new move", subtitle: "Track all stuff as its packed, moved, and unpacked into a new place", icon: "dolly-cart" %>

<%= application_form @move, url: account_move_path(@account) do |f| %>
  <p class="mb-5">Congrats on the move! There's a lot of work ahead of you, but Thingybase will make it less stressful to keep track of what you pack so you can keep tabs on it during the move and know what's in your box when you're unpacking on the other side.</p>
  <div class="buttons">
    <%= f.input :account, as: :hidden %>
    <%= f.button :submit, "Start the move →", class: 'btn btn-primary' %>
  </div>
<% end %>