<section class="hero is-medium">
  <div class="hero-body">
    <div class="container">
      <%= title "View #{parent_resource.name}", subtitle: "We'll email owner of this list and ask them if you can view it" %>

      <%= application_form resource, url: url_for(action: :create) do |f| %>
        <%= f.button :submit, "Request to view list", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</section>