%h1.title Organize
%h2.subtitle Find items easier by organizing them into rooms, shelves, and other containers

.buttons
  = link_to "Add container", new_account_container_path(@account), :class => 'button is-primary'
  =search_field autofocus: true, url: account_search_path(@account)

.list-card
  - @containers.each do |container|
    .list-card--item
      .list-card--item--title=link_to container.name, container
      .list-card--item--details
        .list-card--item--detail
          Created
          =local_time_ago container.created_at
