.card.shadow-xl.max-w-96.transition.hover:scale-105.hover:shadow-2xl
  = link_to @url do
    %figure.max-h-48.rounded-t-2xl= image_tag @image_url
  .card-body
    %h3.card-title= @title
    %p.subtitle.is-6= @subtitle
    %p.card-actions=link_to "Read more →", @url, class: "btn"