= link_to @url, class: " card shadow-xl max-w-96 transition hover:scale-105 hover:shadow-2xl" do
  %figure.max-h-48.rounded-t-2xl= image_tag @image_url
  .card-body
    %h3.card-title= @title
    %p.subtitle.is-6= @subtitle
    .card-actions.justify-end
      .btn Read more →
