.mt-4.flex-col.gap-2
  .font-bold
    - if @icon
      = render IconComponent.new(@icon, class: "w-4 mr-2")
    - if @link
      = link_to @title, @link
    - else
      = @title
  .flex.flex-row.gap-2
    - if details.any?
      - details.each do |detail|
        .list-card--item--detail
          = detail.content
