%details.dropdown
  %summary.btn=@title
  - if items.any?
    %ul.p-2.shadow.menu.dropdown-content.bg-base-100.rounded-box.w-52(class="z-[1]")
      - items.each do |item|
        %li.dropdown-item= item.content
