%h1.title=t '.title', :default => resource_class.model_name.human.pluralize.titleize
%h2.subtitle All the things you want to track

.list-card
  - @items.each do |item|
    .list-card--item
      .list-card--item--title=link_to item.name, item
      .list-card--item--details
        .list-card--item--detail
          Created
          =local_time_ago item.created_at
        -if container = item.container
          .list-card--item--detail
            In
            = link_to container.name, container

= link_to t('.new', :default => t("helpers.links.new")), new_account_item_path(@account), :class => 'button is-primary'
