= title @account.name, subtitle: "All the items you want to track"

.buttons
  = link_to "+ Add", new_account_item_path(@account), class: 'button is-primary'
  .is-hidden-mobile
    =search_field autofocus: true, url: account_search_path(@account)
  .is-hidden-tablet
    =link_to "Search", account_search_path(@account), class: "button"

.list-card
  - @items.each do |item|
    =render_item_list_card item do
      -if parent = item.parent
        .list-card--item--detail
          In
          = link_to parent.name, parent
