= title "Add to #{@account.name}"

.list-cards
  .list-card--item
    .list-card--item--title.has-inline-icon
      =render_icon "folder", class: "icon mr-2 is-small"
      =link_to "Container", new_account_templates_containers_path(@account)
    .list-card--item--details
      .list-card--item--detail
        Shelves, boxes, folders, or anything you put items into

  .list-card--item
    .list-card--item--title.has-inline-icon
      =render_icon "object", class: "icon mr-2 is-small"
      =link_to "Item", new_account_templates_items_path(@account)
    .list-card--item--details
      .list-card--item--detail
        Add a basic item to this folder

  .list-card--item
    .list-card--item--title.has-inline-icon
      =render_icon "tag", class: "icon mr-2 is-small"
      =link_to "Perishable", new_account_templates_perishables_path(@account)
    .list-card--item--details
      .list-card--item--detail
        Food or anything that expires
