%p
  #{@member_request.user.name} has requested to join the #{@member_request.account.name} Thingybase account.

%p
  You may accept or decline this request at #{link_to new_member_request_review_url(@member_request), new_member_request_review_url(@member_request)}.

%p
  Best,
  %br
  The Thingybase account