%p
  Good news! #{@approver.name} has approved your request to join the "#{@member.account.name}" Thingybase account.

%p
  You may now access the account at #{link_to account_url(@member.account), account_url(@member.account)}.
