<%= title "Create a new borrowing list", subtitle: "Share stuff with your friends, family, & people you trust", icon: "heart" %>

<div class="content">
  <p>In just a few minutes you'll be able to select things from Thingybase that you'd like to make available to people you trust so they can ask to borrow it, but first we need to make sure you understand a few things:</p>

  <ol>
    <li>Only loan stuff to people you trust will return it. Thingybase is not responsible for recovering stuff you loan out that people won't give back.</li>
    <li>If you don't feel comfortable around the person who is picking up the item to borrow, don't loan it to them. Thingybase is not responsible for keeping you safe when you meet that person.</li>
    <li>We don't screen, vet, or verify the people you invite to your list. We give you the tools you need to add and remove people from your list, but you are responsible for who you give permission to view your list.</li>
  </ol>

  <p>By continuing, you agree to the rules above and will take responsibility for keeping yourself comfortable and safe. Use your common sense, we don't want you to get hurt or lose your stuff.</p>

  <%= application_form resource, url: url_for(action: :create) do |f| %>
    <%= f.button :submit, "Create borrowing list →", class: 'btn btn-primary' %>
  <% end %>
</div>