=title resource.text, subtitle: breadcrumb(item_breadcrumbs(@label.item), leaf: "Label"), icon: resource.icon

.field.has-addons
  .control
    = link_to "Print", url_for(format: :pdf), class: "button"

.tabs
  %ul
    %li
      =link_to "Magic", label_standard_path(@label), "data-turbolinks-action": "replace"
    %li.is-active
      =link_to "Handwritten", label_code_path(@label), "data-turbolinks-action": "replace"

.label-preview
  %img.label-preview--embed{src: url_for(format: :png)}
