---
title: Pricing
subtitle: Pick a plan that works for you
---

%section.hero
  .hero-body
    .container
      .columns
        .column
          = title current_page.data.fetch("title"), subtitle: current_page.data["subtitle"], icon: current_page.data["icon"]

%section.section
  .container
    .columns.is-multiline
      - current_page.children.each do |page|
        .column.is-one-third
          %h2.title.is-4= link_to page.data.fetch("title"), page.request_path
          %p.subtitle.is-5= page.data.fetch("subtitle", nil)
          =link_to "Learn more", "#", class: "button is-medium"