---
title: Projects
---

= title "Projects", subtitle: "Get ideas for how you can become more organized", icon: "open-book"

.columns.is-multiline
  - current_page.children.each do |page|
    .column.is-one-third
      = page_card page