---
title: Projects
subtitle: Get ideas for how you can become more organized
icon: open-book
---

<section class="container-lg max-w-fit mx-auto">
  <%= title current_page.data.fetch("title"), subtitle: current_page.data["subtitle"], icon: current_page.data["icon"] %>
  <div class="cards">
    <% current_page.children.each do |page| %>
      <%= page_card page %>
    <% end %>
  </div>
</section>