%p#notice= notice

%h1 Label

=resource_field :text
=resource_field :created_at
=resource_field :updated_at
=resource_field :account do
  = resource.account.name
=resource_field :user do
  =resource.user.name

= link_to 'Edit', edit_label_path(@label)
\|
= link_to 'Print', label_path(@label, format: :pdf)
