%p Greetings,

%p You requested an email verification code. Copy and paste the code or type it in your browser or app before it expires in the next few minutes to continue.

%p
  Code:
  %strong=@email_verification_code.code

%p If you get a bunch of emails like this and you didn't request a code, please let us know.
%p
  Best,
  %br
  The Thingybase account