<p>Greetings,</p>

<p>You requested a login code. Copy and paste the code or type it in your browser or app before it self-destructs in the next few minutes to continue.</p>

<code class="is-large-text"><%= @email_verification_code.code %></code>

<p>If you didn't request a code, please forward this to security@thingybase.com.</p>