%p Greetings,

%p You requested an email verification code. Copy and paste the code or enter it in your browser or app before it expires in the next few minutes to continue.

%p
  Code:
  %strong=@email_verification_code.code

%p If you have any questions or concerns please reply to this email.

%p
  Best,
  %br
  The Thingybase account