<div class="container-lg">
  <%= title "Edit profile", subtitle: "Change how you appear to your account members and Thingybase" %>

  <%= render partial: "form" %>

  <hr>

  <div class="card bg-error text-error-content">
    <div class="card-body">
      <h3 class="card-title">Danger Zone™</h3>
      <div class="prose">
        <p>Be careful, this will destroy all of your data</p>
        <p>Deleting your profile will permanently delete all the accounts, labels, items, and data you own. The data will not be recoverable after you delete everything.</p>
        <%= link_to "Permanently delete my profile and all accounts, items, and labels I own", user_path(@user), data: { turbo_confirm: 'Are you sure you want to permanently obliterate your data?', turbo_method: :delete }, class: 'btn btn-outline w-full' %>
      </div>
    </div>
  </div>
</div>