<p>
  <%= @invitation.user.name %> has invited you to the "<%= @invitation.account.name %>" Thingybase account.
</p>

<p>
  You may accept or decline the invitation at <%= link_to new_invitation_response_url(@invitation, token: @invitation.token), new_invitation_response_url(@invitation, token: @invitation.token) %>.
</p>