= title "Search #{resource.name}", subtitle: item_breadcrumb

.is-hidden-tablet
  =search_field autofocus: true

.list-card
  -if @search.phrase.blank?
    .list-card--item
      .list-card--title
  -else
    -if @search.empty?
      .list-card--item
        .list-card--title
          | Could not find anything matching "#{@search.phrase}" in #{resource.name}.
    -else
      - @search.items.each do
        = component :item_list_card, item: _1, is_parent_visible: true
    =link_to "Search entire account", account_search_path(@account, search: @search.phrase), class: "btn btn-outline"
