.page-header
  %h1.title=t '.title', :default => resource_class.model_name.human.pluralize.titleize
%table.table.is-fullwidth.is-striped
  %thead
    %tr
      %th Name
      %th Became member at
  %tbody
    - @members.each do |member|
      %tr
        %td= link_to member.user.name, member_path(member)
        %td= local_time member.created_at
= link_to t('.new', :default => t("helpers.links.new")), new_account_invitation_path(@account), :class => 'button is-primary'
