.list-card--item
  .list-card--item--title=link_to container.name, container
  .list-card--item--details
    .list-card--item--detail Container
    .list-card--item--detail
      Created
      =local_time_ago container.created_at
