%h1.title What do you want to add to the #{@container.name}?
%h2.subtitle Add an item or create a container to organize even more

.list-card
  .list-card--item
    .list-card--item--title= link_to "Add item", new_container_item_path(@container)
    .list-card--item--details
      .list-card--item--detail Anything like a collectable, food, perishable, or item.
  .list-card--item
    .list-card--item--title= link_to "Add container", new_container_child_path(@container)
    .list-card--item--details
      .list-card--item--detail Organize items by putting them inside of containers like a room, shelf, or box. Containers can even be put inside of containers for even more organization.
