%h1.title Search #{@account.name}
%h2.subtitle Find items, containers, and other things

=search_field autofocus: true

.list-card
  -if @search.phrase.blank?
    .list-card--item
      .list-card--title
  -elsif @search.empty?
    .list-card--item
      .list-card--title
        Could not find anything matching "#{@search.phrase}" in #{@account.name}.
  -else
    - @search.items.each do |item|
      =render_item_list_card item do
        -if parent = item.parent
          .list-card--item--detail
            In
            = link_to parent.name, parent
