%h1.title Search
%h2.subtitle Find your stuff

=search_field autofocus: true

.list-card
  -if @search.phrase.blank?
    .list-card--item
      .list-card--title Enter a search phrase
  -elsif @search.empty?
    .list-card--item
      .list-card--title
        - if @search.container
          Could not find anything matching "<%= @search.phrase %>" in "<%= @search.container.name %>".
          =link_to "Expand search", account_search_path(@account, search: @search.phrase)
          to everything.
        -else
          Could not find anything matching "<%= @search.phrase %>".
  -else
    - @search.containers.each do |container|
      .list-card--item
        .list-card--item--title=link_to container.name, container
        .list-card--item--details
          .list-card--item--detail Container
          .list-card--item--detail
            Created
            =local_time_ago container.created_at
          -if container = container.parent
            .list-card--item--detail
              In
              = link_to container.name, container
    - @search.items.each do |item|
      .list-card--item
        .list-card--item--title=link_to item.name, item
        .list-card--item--details
          .list-card--item--detail Item
          .list-card--item--detail
            Created
            =local_time_ago item.created_at
          -if container = item.container
            .list-card--item--detail
              In
              = link_to container.name, container
    - if @search.container
      .list-card--item
        .list-card--title
          Didn't find what you were looking for?
          =link_to "Expand search", account_search_path(@account, search: @search.phrase)
          outside of "<%= @search.container.name %>" to everything.
