%h1.title Search
%h2.subtitle Find your stuff

=search_field

-if @search.phrase.blank?
  .list-card
    .list-card--item
      .list-card--title Enter a search phrase
-elsif @search.empty?
  .list-card
    .list-card--item
      .list-card--title Could not find anything matching "<%= @search.phrase %>".
-else
  .list-card
    - @search.containers.each do |container|
      .list-card--item
        .list-card--item--title=link_to container.name, container
        .list-card--item--details
          .list-card--item--detail Container
          .list-card--item--detail
            Created
            =local_time_ago container.created_at
    - @search.items.each do |item|
      .list-card--item
        .list-card--item--title=link_to item.name, item
        .list-card--item--details
          .list-card--item--detail Item
          .list-card--item--detail
            Created
            =local_time_ago item.created_at
          -if container = item.container
            .list-card--item--detail
              In
              = link_to container.name, container
