= title "Moving", subtitle: "Track all stuff as its packed, moved, and unpacked into a new place", icon: "dolly-cart"

= application_form @move do |f|
  = f.association :new_item_container, collection: destination_select_items, hint: "New items will be put in here when creating a new moving label"
  = f.button :submit, class: 'is-primary'
