= title "Moving", subtitle: "Track all stuff as its packed, moved, and unpacked into a new place", icon: "dolly-cart"

.buttons
  = link_to "Delete move", move_path(@move), class: "button is-text", method: :delete, data: { confirm: "Are you sure?" }
