= title resource.name, subtitle: "Stuff that you can loan to your friends, family, and people you trust", icon: "heart"

.buttons
  =link_to "+ Add items people can borrow", new_loanable_list_item_path(@loanable_list), class: "btn btn-primary"
  =link_to "Manage sharing", loanable_list_members_path(@loanable_list), class: "button"
  .field.has-addons

-if resource.items.empty?
  .box
    | You need to designate items that you're willing to loan, then share this list with your friends and family.
-else
  - resource.loanable_items.each do |loanable|
    = component :list_card, loanable.item.name, loanable, icon: loanable.item.icon do |card|
      - card.slot(:detail) do
        | Created
        = local_time_ago loanable.created_at

.buttons
  .control= link_to "Edit", url_for(action: :edit), class: "btn btn-outline"
  .control= link_to "Delete", resource, method: :delete, class: "btn btn-outline", data: { confirm: 'Are you sure?' }
