.section
  %h1 Pagerline
  %p.lead Alert escalation and acknowledgement
  %p=link_to "Sign up →", new_session_path, class: "btn btn-primary btn-lg", role: "button"
  %p When something critical happens, who gets the call? Pagerline replaces manual pager rotations and phone trees with an automated system that calls, texts, and alerts people until they respond to an alert
.section
  %h2 Incidents delivered to your phone
  %h3 Get notified when things happen so you can respond
  %p When something happens pagerline notifies people in your group, one after the other, until somebody acknowledges the situation.
  =image_tag "incident.svg", style: "max-width: 100%;"
.section
  %h2 $5 per user
  %h3 The first user is free
  %p Try pagerline as long as you’d like to get alerts for personal or small projects. Upgrade when you’re ready to scale your team and add more users to a pager rotation.
  .plans-listing
    .plans-listing--plan
      =image_tag "solo.svg", style: "max-width: 100%;"
      %h2 Solo
      %p $0
      %p=link_to "Sign up", new_session_path, class: "btn btn-primary btn-lg", role: "button"
    .plans-listing--plan
      =image_tag "startup.svg", style: "max-width: 100%;"
      %h2 Startup
      %p $10
      %p=link_to "Sign up", new_session_path, class: "btn btn-primary btn-lg", role: "button"
    .plans-listing--plan
      =image_tag "team.svg", style: "max-width: 100%;"
      %h2 Team
      %p $30
      %p=link_to "Sign up", new_session_path, class: "btn btn-primary btn-lg", role: "button"
    .plans-listing--plan
      =image_tag "business.svg", style: "max-width: 100%;"
      %h2 Bigtime
      %p $65
      %p=link_to "Sign up", new_session_path, class: "btn btn-primary btn-lg", role: "button"
.section
  %h1 Try Pagerline for free
  %p.lead Pagerline is a bat phone for critical events. When something happens and somebody has to answer
  %p=link_to "Sign up →", new_session_path, class: "btn btn-primary btn-lg", role: "button"
