=render_layout "body" do
  %section.hero.is-fullheight-with-navbar.is-bold
    .hero-body
      .container
        .columns
          .column
        %h1.title.is-2 Thingybase
        %h2.subtitle.is-5 Organize and keep track of your stuff
        =link_to "Get started →", launch_accounts_path, class: "button is-primary is-medium", role: "button"
