.jumbotron.jumbotron-fluid.blue-background
  .container
    %h1 Pagerline
    %p.lead Incidents delivered to your phone
    %p=link_to "Sign up →", new_session_path, class: "btn btn-primary btn-lg", role: "button"
    %p When something critical happens Pagerline notifies people on a team, one after another, until somebody acknowledges and responds the situation.
    =image_tag "incident.svg", style: "max-width: 100%;"
