.jumbotron.jumbotron-fluid.blue-background
  .container
    %h1 Pagerline
    %p.lead Incidents delivered to your phone
    %p=link_to "Sign up →", new_session_path, class: "btn btn-primary btn-lg", role: "button"
    %p When something happens in the world, pagerline notifies people in your group, one after the other, until somebody acknowledges the situation.
    =image_tag "incident.svg"
%section.white-area
  .container
    %h2 Try Pagerline for free
    %p.lead Pagerline is a bat phone for critical events. When something happens and somebody has to answer.
    %a.button(href="/signup.html") Sign up