%h1 Preview invitation email

%p
  %strong To:
  =@invitation.email
%p
  %strong Message:
  %iframe.email-preview{srcdoc: InvitationMailer.team_invitation_email(@invitation).body}

= link_to t('.edit', default: t("helpers.links.edit")), edit_invitation_path(@invitation), class: 'btn btn-default'
= link_to "Send invitation", email_invitation_path(@invitation), method: :put, :class => 'btn btn-default'
