=title "Preview invitation email", subtitle: "If everything looks good, send it and the person can join the account", icon: "mailer"

%p
  %strong To:
  =@invitation.email
%p
  %strong Message:
  %iframe.email-preview{srcdoc: InvitationMailer.account_invitation_email(@invitation).body}

.buttons
  = link_to "Send invitation", email_invitation_path(@invitation), method: :put, class: 'button is-primary'
  = link_to "Edit", edit_invitation_path(@invitation), class: 'button'
  = link_to "Delete", invitation_path(@invitation), method: "delete", data: { confirm: 'Are you sure?' }, class: 'button is-text'
