= title "Enter an email address", subtitle: "We'll send you an authentication code that you can use to login to your account or create a new one if its your first time here."

= application_form @user_resolution, url: user_resolution_url do |f|
  = f.input :email, autofocus: true, hint: "We will only use the email entered here to send a verification code"
  = f.button :submit, "Continue →", class: 'is-primary'
