.page-header
  %h1=t '.title', :default => resource_class.model_name.human.pluralize.titleize
%table.table.table-striped
  %thead
    %tr
      %th= resource_class.human_attribute_name(:access_id)
  %tbody
    - @api_keys.each do |api_key|
      %tr
        %td= link_to api_key.name, api_key_path(api_key)

= link_to t('.new', :default => t("helpers.links.new")), new_api_key_path, :class => 'btn btn-primary'
