<%= title "Add to #{@container.name}", subtitle: item_breadcrumb(@container), icon: @container.icon %>

<div class="list-cards">
  <%= component :list_card, "Container", new_item_templates_container_path, icon: "folder" do |card| %>
    <% card.detail do %>
      Shelves, boxes, folders, or anything you put items into
    <% end %>
  <% end %>

  <%= component :list_card, "Item", new_item_templates_item_path, icon: "object" do |card| %>
    <% card.detail do %>
      Add a basic item to this folder
    <% end %>
  <% end %>

  <%= component :list_card, "Perishable", new_item_templates_perishable_path, icon: "tag" do |card| %>
    <% card.detail do %>
      Food or anything that expires
    <% end %>
  <% end %>
</div>