= simple_form_for @acknowledgement, :html => { :class => 'form-horizontal' } do |f|
  = f.association :notification, collection: policy_scope(Notification), include_blank: false
  = f.button :submit, :class => 'btn-primary'
