=resource_field :created_at do
  =local_time item.created_at
=resource_field :updated_at do
  =local_time item.updated_at
=resource_field :created_by do
  =item.user.name
-if item.expires_at
  =resource_field :expires_at do
    =local_date item.expires_at
