%h1.title=t '.title', :default => resource_class.model_name.human.pluralize.titleize

= link_to "Add item", new_item_path, class: 'button is-primary'

.list-card
  - @items.each do |item|
    .list-card--item
      .list-card--item--title=link_to item.name, item
      .list-card--item--details
        .list-card--item--detail
          Created
          =local_time_ago item.created_at
        -if container = item.container
          .list-card--item--detail
            In
            = link_to container.name, container