<div class="badge">
  <div class="badge-icon">
    <figure><%= component :icon, @item.icon, class: "image" %></figure>
  </div>
  <div class="badge-title">
    <h1 class="title"><%= @item.name %></h1>
  </div>
</div>