%h1.title Selecting items
.subtitle=breadcrumb item_breadcrumbs(@item)

=form_for [:item, @batch] do |f|
  =f.hidden_field :account_id
  .buttons
    =f.button "Print labels", value: "label", name: "batch[action]", class: "button"
    =f.button "Delete", value: "delete", name: "batch[action]", class: "button is-text", data: { confirm: "Are you sure?" }
  -if f.object.errors[:base].any?
    .message.is-danger
      .message-body=f.object.errors[:base].to_sentence
  .list-card
    =f.fields_for :items, @batch.items, include_id: false do |s|
      =s.label :selected, class: "list-card--selection" do
        =s.hidden_field :id
        =s.check_box :selected, class: "checkbox list-card--selection--checkbox"
        .list-card--item
          - with s.object.model do |item|
            .list-card--item--title=item.name
            .list-card--item--details
              .list-card--item--detail
                =item.container ? "Container" : "Item"
              .list-card--item--detail
                Created
                =local_time_ago item.created_at
              -if item.shelf_life_end
                .list-card--item--detail
                  =item_expiration_tense item
                  =local_time_ago item.shelf_life_end