=title "Labels", subtitle: "Quickly print labels and organize them later", icon: "tags"

.buttons
  = link_to "+ Add label", new_account_label_path(@account), class: 'button is-primary'

.list-card
  - @labels.each do |label|
    .list-card--item
      .list-card--item--title=link_to label.text, label
      .list-card--item--details
        .list-card--item--detail
          Created
          =local_time_ago label.created_at
