=title "Labels", subtitle: "Quickly print labels and organize them later", icon: "tags"

.buttons
  = link_to "+ Add label", new_account_label_path(@account), class: 'button is-primary'

.list-cards
  - @labels.each do |label|
    = component :list_card, label.text, label do |card|
      = card.slot(:detail) do
        Created
        =local_time_ago label.created_at