%h1 New label
= simple_form_for @label, :html => { :class => 'form-horizontal' } do |f|
  = f.input :text, autofocus: true
  = f.association :account, as: :hidden
  = f.button :submit, :class => 'btn-primary'