@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 100;
  src: url("/assets/inter/web/Inter-Thin-BETA-4fdb4320.woff2") format("woff2"),
       url("/assets/inter/web/Inter-Thin-BETA-057e3b1e.woff") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 100;
  src: url("/assets/inter/web/Inter-ThinItalic-BETA-27946817.woff2") format("woff2"),
       url("/assets/inter/web/Inter-ThinItalic-BETA-db35c10e.woff") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 200;
  src: url("/assets/inter/web/Inter-ExtraLight-BETA-e2edbc8e.woff2") format("woff2"),
       url("/assets/inter/web/Inter-ExtraLight-BETA-433d10cd.woff") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 200;
  src: url("/assets/inter/web/Inter-ExtraLightItalic-BETA-4992dbc8.woff2") format("woff2"),
       url("/assets/inter/web/Inter-ExtraLightItalic-BETA-a1956058.woff") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 300;
  src: url("/assets/inter/web/Inter-Light-BETA-282ffa70.woff2") format("woff2"),
       url("/assets/inter/web/Inter-Light-BETA-63cd5dfe.woff") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 300;
  src: url("/assets/inter/web/Inter-LightItalic-BETA-5f27d406.woff2") format("woff2"),
       url("/assets/inter/web/Inter-LightItalic-BETA-740804ad.woff") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 400;
  src: url("/assets/inter/web/Inter-Regular-09e3b540.woff2") format("woff2"),
       url("/assets/inter/web/Inter-Regular-842379c5.woff") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 400;
  src: url("/assets/inter/web/Inter-Italic-3e88c1e1.woff2") format("woff2"),
       url("/assets/inter/web/Inter-Italic-9e52f190.woff") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 500;
  src: url("/assets/inter/web/Inter-Medium-d3e5b7bb.woff2") format("woff2"),
       url("/assets/inter/web/Inter-Medium-20eaaa33.woff") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 500;
  src: url("/assets/inter/web/Inter-MediumItalic-66152773.woff2") format("woff2"),
       url("/assets/inter/web/Inter-MediumItalic-7ec5d535.woff") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 600;
  src: url("/assets/inter/web/Inter-SemiBold-3011ba84.woff2") format("woff2"),
       url("/assets/inter/web/Inter-SemiBold-6570a982.woff") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 600;
  src: url("/assets/inter/web/Inter-SemiBoldItalic-41c54df9.woff2") format("woff2"),
       url("/assets/inter/web/Inter-SemiBoldItalic-708612d4.woff") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 700;
  src: url("/assets/inter/web/Inter-Bold-4ab85ccc.woff2") format("woff2"),
       url("/assets/inter/web/Inter-Bold-f38af245.woff") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 700;
  src: url("/assets/inter/web/Inter-BoldItalic-96f884f8.woff2") format("woff2"),
       url("/assets/inter/web/Inter-BoldItalic-9a320c0f.woff") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 800;
  src: url("/assets/inter/web/Inter-ExtraBold-5bbd202a.woff2") format("woff2"),
       url("/assets/inter/web/Inter-ExtraBold-21335862.woff") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 800;
  src: url("/assets/inter/web/Inter-ExtraBoldItalic-7f86ba2b.woff2") format("woff2"),
       url("/assets/inter/web/Inter-ExtraBoldItalic-281351d4.woff") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 900;
  src: url("/assets/inter/web/Inter-Black-9bb6ae72.woff2") format("woff2"),
       url("/assets/inter/web/Inter-Black-9cb5260d.woff") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 900;
  src: url("/assets/inter/web/Inter-BlackItalic-681aaa91.woff2") format("woff2"),
       url("/assets/inter/web/Inter-BlackItalic-302d33eb.woff") format("woff");
}

/* -------------------------------------------------------
Variable font.
Usage:

  html { font-family: 'Inter', sans-serif; }
  @supports (font-variation-settings: normal) {
    html { font-family: 'Inter var', sans-serif; }
  }
*/
@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url("/assets/inter/web/Inter-upright.var-870265ba.woff2") format("woff2");
}
@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-style: italic;
  font-named-instance: 'Italic';
  src: url("/assets/inter/web/Inter-italic.var-71829a34.woff2") format("woff2");
}


/* --------------------------------------------------------------------------
[EXPERIMENTAL] Multi-axis, single variable font.

Slant axis is not yet widely supported (as of February 2019) and thus this
multi-axis single variable font is opt-in rather than the default.

When using this, you will probably need to set font-variation-settings
explicitly, e.g.

  * { font-variation-settings: "slnt" 0deg }
  .italic { font-variation-settings: "slnt" 10deg }

*/
@font-face {
  font-family: 'Inter var experimental';
  font-weight: 100 900;
  font-style: oblique 0deg 10deg;
  src: url("/assets/inter/web/Inter.var-227d5531.woff2") format("woff2");
}
