= form_tag url, method: :get do
  .field.has-addons
    .control
      = text_field_tag :search, params[:search], class: "input", placeholder: "Search", autofocus: autofocus
    .control
      = submit_tag "Search", class: "button"
