$white: #fff
$black: #000
$light-gray: #ddd
$primary-color: #4A90E2
$danger-color: red

.padded-container
  padding: 1rem

.email-preview
  width: 100%
  min-height: 13rem
  border: 1px solid $light-gray

.word-wrapped-block
  word-wrap: break-word
  padding: 1rem
  background-color: $light-gray

.list-card
  &--item
    padding: 1rem 0
    &--title
      font-weight: bold
    &--detail
      display: inline
      & + &:before
        content: " · "
    &--details
    & + &
      border-top: 1px solid #eee