---
title: Family
subtitle: Restore order of all your stuff with the whole family
features:
  - key: users
    name: People
    tier: maximum
    value: 6
  - key: custom_fields
    name: Custom fields
    tier: boolean
    value: true
---

%p If you're feeling overwhelmed by the amount of stuff you have to keep track of around the house, Thingybase can help restore sanity to your world.