%section.hero.is-fullheight-with-navbar.is-bold
  .hero-body
    .container
      =title "This content is protected", subtitle: "Log in to access this content", icon: "key"
      %p=link_to "Log in →", new_session_url, class: "button is-primary"
