<section class="hero is-medium">
  <div class="hero-body">
    <div class="container">
      <%= title "This content is protected", subtitle: "Log in to access this content", icon: "key" %>
      <p><%= link_to "Log in →", new_session_url, class: "btn btn-primary" %></p>
    </div>
  </div>
</section>