%h1.title
  You don't have permissions to
  =@permission
  this
  =resource.model_name.human

%p
  You're currently logged in and acccessing this resource as #{link_to current_user.email, current_user}.
