.breadcrumb(aria-label="breadcrumbs")
  %ul
    %li=link_to root.text, root.url
    -links.each do |link|
      %li.is-hidden-mobile=link_to link.text, link.url
    -if link = links.last
      %li.is-hidden-tablet=link_to '..', link.url
    %li.is-active=link_to active.text, active.url