<p>Forward to family members you'd like to add to your Thingybase account so they can help find, manage, and organize stuff around the house.</p>

<hr>

<p>Hi!</p>

<p>I just created the <%= @account.name %> account on Thingybase and thought you'd like to join and help keep things organized around the house.</p>

<p>Here's what it takes to get setup</p>

<ol>
  <li>Sign up or login to Thingybase with your email address.</li>
  <li>Request to join my account at <%= link_to new_account_member_request_url(@account), new_account_member_request_url(@account) %></li>
  <li>Once I approve your request, you'll be able to search and manage all the stuff on the account.</li>
</ol>

<p>Let's do this!</p>