=render_layout "body" do
  %section.section
    .container= notice_message class: "has-bottom-margin"
    .container= yield
  %footer.section.has-text-centered
    .container
      .columns
        .column
          = link_to "Manage #{@account.name} account", account_path(@account)
