<html>
  <body>
    <%= yield %>
    <p>
      <div>Cheers,</div>
      <div>Thingybase</div>
    </p>
    <hr>
    <p class="is-not-important-text">What is <%= link_to "Thingybase", root_url %>? Oh nothing really, it's just a really sweet way to organize, treasure, and track your stuff.</p>
  </body>
</html>