= render_layout "page" do
  .flex.flex-col.justify-center class="min-h-[75vh]" style=background_image_style
    .flex.flex-col.gap-2.align-left.p-4.md:p-24
      h1.text-5xl.font-bold.px-2.py-1.bg-base-100.bg-opacity-90.max-w-fit= current_page.data.fetch("title")
      - if subtitle = current_page.data.fetch("subtitle", nil)
        h2.text-lg.px-2.py-1.bg-base-100.bg-opacity-90.max-w-fit= subtitle
  section.container-lg
    .prose= yield
  section.bg-base-200.p-container
    .my-container.gap-container.flex.flex-col
      hgroup.text-center
        h2.text-4xl.font-bold More projects
        h3.text-2xl If you feeling like conquering the world, these other projects will help you get even more organized
      .cards
        - site.get("projects").children.take(3).each do |page|
          = page_card page
