.flex.flex-col.gap-8
  = title "Pick an account", subtitle: "Switch into a different account or create a new account"

  .flex.flex-col
    - @accounts.each do |account|
      = component :list_card, account.name, account do |card|
        - card.detail do
          | Created #{local_time_ago account.created_at}
        - card.detail do
          =pluralize account.items.size, "item"

  = link_to "+ Create new account", new_account_path, class: 'btn'
