= title "Switch accounts", subtitle: "Change into a different account or create a new account"

.list-card
  =render partial: "accounts/list-card--item", collection: @accounts, as: :account

.buttons
  = link_to "+ Create new account", new_account_path, class: 'button'
