%h1.title=t '.title', :default => resource_class.model_name.human.pluralize.titleize

%table.table.is-fullwidth.is-striped
  %thead
    %tr
      %th= resource_class.human_attribute_name(:name)
  %tbody
    - @accounts.each do |account|
      %tr
        %td= link_to account.name, account_path(account)

.buttons
  = link_to "Add account", new_account_path, :class => 'button'
