<section class="container-lg">
  <%= title "What kind of account are you creating?", subtitle: "Pick one and customize it on the next screen" %>

  <div class="list-cards">
    <%= render Components::List::CardComponent.new("Home", new_accounts_templates_home_path, icon: "home") do |card| %>
      <% card.detail do %>
        Setup all the rooms in your house to start organizing your stuff
      <% end %>
    <% end %>

    <%= render Components::List::CardComponent.new("Office snacks & supplies", new_accounts_templates_office_path, icon: "home-office") do |card| %>
      <% card.detail do %>
        Inventory all of your snack and supply rooms so employees can find it themselves
      <% end %>
    <% end %>

    <%= render Components::List::CardComponent.new("Blank", new_accounts_templates_blank_path, icon: "sheets") do |card| %>
      <% card.detail do %>
        Got something else in mind? Start with an empty account and set it all up yourself
      <% end %>
    <% end %>
  </div>
</section>
