%h1.title Create a new account
%h2.subtitle Give it a name, like "Home" or "Business", so its easy to remember.

= application_form @account do |f|
  = f.input :name, autofocus: true
  = f.button :submit, "Create account", class: 'is-primary'
