%h1.title=@account.name
%h2.subtitle Everything at a glance

%h2 Labels
%p
  You have a total of
  =pluralize @account.labels.count, "label"
  in your account.
%p
  =link_to "View labels", account_labels_path(@account)

%h2 Members
%p
  You have
  =pluralize @account.members.count, "people"
  in your account.
%p
  =link_to "Manage people", account_members_path(@account)

-unless @account.invitations.count.zero?
  You have pending
  =pluralize @account.members.count, "invitations"
  %p
    =link_to "View invitations", account_invitations_path(@account)

%h2 Account settings
%p
  =link_to "Change settings", edit_account_path(@account)
%p
  =link_to "Switch accounts", accounts_path
